body
{
margin:0;
}
*
{
  box-sizing: border-box;
}
.row
{
  display: flex;
  flex-wrap: wrap;
}

.header
{
  height:auto;
  width: 100%;
  background: black;
  text-align: center;
  line-height: 40px;
  color: white;
}
.header .test
{
  height: 40px;
  width: 10%;
  background: ;
}
.header .signIn
{
  height: 40px;
  width:  20%;
  background: ;
  border-right: 1px solid gray;
}
.header .signUp
{
  height: 40px;
  width:  20%;
  background: ;
  border-right: 1px solid gray;
}
.header .call
{
  height: 40px;
  width:  20%;
  background: ;
  border-right: 1px solid gray;
}

.header .info
{
  height: 40px;
  width:  20%;
  background: ;
  border-right: 1px solid gray;
}

.header .chk
{
  height: 40px;
  width:  10%;
  background: ;
}

.subheader
{
  height: auto;
  width: 100%;
  background: ;
  text-align: center;
  line-height: 125px;
}
.subheader .search
{
  height: 130px;
  width: 33.33%;
  background: ;
}
.subheader .search input,button
{
  height: 30px; 
}
.subheader .search input
{
  border: 1px solid lightgray; 
}

.subheader .search input:focus
{
  outline:none; 
}
.subheader .search button
{
  padding: 0 15px;
  background: yellowgreen;
  border: none; 
}
.subheader .search button i
{
  color: #fff; 
}
.subheader .logo
{
  height: 130px;
  width: 33.33%;
  font-size: 40px;
  background: ;
}
.subheader .social
{
  height: 130px;
  width: 33.33%;
  background: ;
}
.fa-facebook
{
  background: #3b5998;
  padding: 3px 7px;
}
.fa-facebook:hover
{
  color: white;
}

.fa-twitter
{
  background: #55acee;
  padding: 3px 7px;
}

.fa-instagram
{
  background:   #dc4e41;
  padding: 3px 7px;
}

.fa-pinterest
{
  background:   #bd081c;
  padding: 3px 7px;
}

 .bar
 {
   height: auto;
   width: 100%;
   background: ;
   color: white;
   font-size: 30px;
  
  

 }
 .bar .bar1
 {
  height: 60px;
  width: 80%;
  background: black;
  text-align: center;
  padding-left: 60px;
  padding-top: 10px ;

 }
 .bar .bar1 ul
 { 
  margin: 0;
  padding : 0;
 }
 .bar .bar1 ul li
 {
  list-style: none;
  display: inline;
  float: left;
 }
 .bar .bar1 ul li a
{
text-decoration: none;
padding: 0px 30px;
}
.bar .bag
{
  height: 60px;
  width: 10%;
  background: ;
  text-align: center;
  line-height: 50px;

}
.bar .bag i
{
  font-size: 40px;
  color: white;
  padding: 10px 58px;
}

.bar .blank
{
  height: 60px;
  width: 10%;
}
.picture
{
  height: 400px;
  width: 100%;
  background: url(C:/Users/jnpat/Desktop/web/image/banner3.jpg);
}
.a
{ margin-top: 20px;
  height: auto;
  width: 100%;
  display: flex;
  padding: 50px 0px 50px 20px;
}
.a .a1
{
  height: 300px;
  width: 40%;
  background: url(C:/Users/jnpat/Desktop/web/image/bottom1.jpg);
  margin-left: 70px;
  background-origin: border-box;
  border: 12px solid rgba(255, 255, 255, 0.18);
    background-repeat7 no-repeat;
    background-size:120% 120% ;
    background-position: -100px 0px;
    transition: 1s;
  }
 .a1 .a12
{
  height: 250px;
  width: 490px;
  border: 4px solid ghostwhite;
  margin: 250px;
  margin: 15px 20px 30px 35px;
  padding: 100px 0px 0px 100px;
    font-size: 40px;
    color: white;
}
.a .a1:hover  
{
background-position: 0px 0px;
} 
.a .a2
{ 
  height: 300px;
  width: 40%;
  background:url(C:/Users/jnpat/Desktop/web/image/bottom2.jpg);
background-origin: border-box;
  border: 12px solid rgba(255, 255, 255, 0.18);
  background-repeat: no-repeat;
  background-size:120% 120% ;
   background-position: -100px 0px;
    transition: 1s;
    margin-left: 70px;
   
}
.a .a2:hover
{
background-position: 0px 0px;
}
.a2 .a22
{
  height: 250px;
  width: 490px;
  border: 4px solid ghostwhite;
  margin: 250px;
  margin: 15px 20px 30px 35px;
padding: 100px 0px 0px 100px;
 font-size: 40px;
    color: white;
}

.e 
{
 margin-top: 20px;
  height: auto;
  width: 100%;
  background: red;
}
.e .e1
{
  height: 400px;
  width: 50%;
  background:url(C:/Users/jnpat/Desktop/web/image/mid.jpg);
}
.e .e2
{
  height: 400px;
  width: 50%;
  background: black;
}
 .e2 .e22
{
  margin-top: 50px;
  height: 300px;
  width: 80%;
  background: white;
  padding-top: 20px;
  padding-left: 10px;
}
.e22 .s50
{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.e22 .spp 
{
  margin-top: 10px;
   font-family: 'Open Sans', sans-serif;
}
.e22 .s33
{
  height: 150px;
  width: 100%;
  margin-top: 20px;
}
.s33 .customerss
{
  height: 150px;
  width: 31.33%;
   text-align: center;
  font-size: 20px;
}
 .customerss .fa 
{
  font-size: 25px;
  color: skyblue;
   padding-top: 10px;
}
.s33 .eventss
{
  height: 150px;
  width: 31.33%;
  text-align: center;
  font-size: 20px;
}
 .eventss .fa 
{
  font-size: 25px;
  color: skyblue;
  padding-top: 10px;
}
.s33 .awards
{
  height: 150px;
  width: 31.33%;
   text-align: center;
  font-size: 20px;
}
 .awards .fa 
{
  font-size: 25px;
  color: skyblue;
   padding-top: 10px;
}
.main
{
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.sale
{
  height: auto;
  width: 100%;
   padding-top: 20px;
 }
 .sale .sale1
 {
  height: auto;
  width: 30%;
  background: url(C:/Users/jnpat/Desktop/web/image/bb1.jpg);
  background-size: 100% 100%;
  background-origin: border-box;
  border: 15px solid rgba(255, 255, 255, 0.20);
margin-right: 20px ;
margin-left: 300px;
background-size: 120% 120%;
background-position: -100px 0px;
transition: 0.5s;
text-align: center;
font-size: 30px;
color: white;
padding: 20px 50px 20px 30px;
 }
 .sale .sale1:hover
 {
  background-position: 0px 0px;
 }
 .sale1 .s0
 {
  height: 530px;
  width: 370px;
  border: 4px solid white;
  padding: 20px 10px 0px 180px;
 }
 .sale .sale2
 {
  height:auto;
  width: 45%;
 }
 .sale2 .s1
 {
  height: 285px;
  width: 100%;
  background: url(C:/Users/jnpat/Desktop/web/image/bottom3.jpg);
   background-size: 100% 100%;
    background-origin: border-box;
  border: 12px solid rgba(255, 255, 255, 0.20);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
     background-size:120% 120% ;
    background-position: -100px 0px;
      transition: 0.5s;
 }
 .sale2 .s1:hover
 {
  background-position: 0px 0px;
 }
 .s1 .s11
 {
  height: 230px;
  width: 600px;
  border: 4px solid floralwhite;
  padding-top: 20px;
  padding-left: 300px;
 }
 .s11 .s12
 {
  font-size: 40px;
   color: white;
    text-align: center;
 }
 .sale2 .s2
 {
  height: 285px;
  width: 100%;
  background: url(C:/Users/jnpat/Desktop/web/image/bottom4.jpg);
  background-origin: border-box;
  border: 12px solid rgba(255, 255, 255, 0.20);
  background-size: 100% 100%;
  margin-top: 30px;
     padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
 background-size:120% 120% ;
    background-position: -100px 0px;
      transition: 0.5s;
 }
 .sale2 .s2:hover
 {
  background-position: 0px 0px;
 }

 .s2 .s22
 {
  height: 230px;
  width: 600px;
  border: 4px solid floralwhite;
  padding-top: 20px;
  padding-left: 300px;
 }
 .s22 .s23
 {
  font-size: 40px;
   color: white;
  text-align: center;
 }
 .p 
 {
  height: auto;
  width: 100%;
  margin-top: 50px;

 }
 .p .p1
 {
  height: 400px;
  width: 50%;
  background: url(C:/Users/jnpat/Desktop/web/image/bot_1.jpg);
  background-size: 100% 100%;
  text-align: center;
  font-size: 50px;
  color: white;
padding-top: 200px;
letter-spacing: 10px;
font-family: 'Open Sans', sans-serif;
 }
  .p .p2
 {
  height: 400px;
  width: 50%;
  background: url(C:/Users/jnpat/Desktop/web/image/bot_2.jpg);
  background-size: 100% 100%;
  text-align: center;
  font-size: 50px;
  color: white;
  letter-spacing: 10px;
padding-top: 200px;
font-family: 'Open Sans', sans-serif;
 }
 .newarrival
 {
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
    letter-spacing: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-bottom: 20px;
 }
 .cart
 {
  height: auto;
  width: 100%;
  background: black;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
 }
 .cart .men
 {
  height: 500px;
  width: 25%;
  background: lightgreen;
 }

 .cart .women
 {
  height: 500px;
  width: 25%;
  background: red;
 }
 .cart .bag
 {
  height: 500px;
  width: 25%;
  background: lightgreen;
 }
 .cart .footwear
 {
  height: 500px;
  width: 25%;
  background: red;
 }
 .picture2
{
  height: 600px;
  background: url(C:/Users/jnpat/Desktop/web/image/banner3.jpg);
  background-size: 100% 100%;
}
 .picture2 .offers
{ 
   text-align: center;
  font-size: 50px;
  line-height: 500px;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
     letter-spacing: 10px;
     color: white;
     font-weight: bold;
}
.picture2 .shopnow
{ 
   height: 40px;   
   width: 120px;
  font-size: 20px;
  background:lightseagreen;
  color: white;
  text-align: center;
 line-height: 30px;
 margin-left: 650px;
 margin-top: -180px;
 position: 0px 0px;
 transition: 0.5s;
}
.picture2 .shopnow:hover
{
  border: 5px solid red;
  position: 0px 100px;
}
.hed4
{  
  margin-top: 50px;
  heigh: auto;
  margin-bottom: 50px;
  padding-left: 40px;
}
.hed4 .free
{
  height: 200px;
  width: 25%;
}
.free .free1
{
  height: 100px;
  width: 30%;
  padding: 35px 40px;
  font-size: 30px;
  background: black;
  margin-top: 40px;
}
.free .free2
{
  height: 200px;
  width: 60%;
  padding-top: 30px;
  padding-left: 10px;
}
.hed4 .suport
{
  height: 200px;
  width: 25%;
}
.suport .suport1
{
  height: 100px;
  width: 30%;
  padding: 35px 40px;
  font-size: 30px;
  background: black;
  margin-top: 40px;
}
.suport .suport2
{
  height: 200px;
  width: 60%;
   padding-top: 30px;
   padding-left: 10px;
 }
.hed4 .monkey
{
  height: 200px;
  width: 25%;
}
.monkey .monkey1
{
  height: 100px;
  width: 30%;
  padding: 35px 40px;
  font-size: 30px;
  background: black;
  margin-top: 40px;
}
.monkey .monkey2
{
  height: 200px;
  width: 65%;
   padding-top: 30px;
  padding-left: 10px;
}
.hed4 .gift
{
  height: 200px;
  width: 25%;
 
}
.gift .gift1
{
  height: 100px;
  width: 30%;
  padding: 35px 40px;
  font-size: 30px;
  background: black;
  margin-top: 40px;
}
.gift .gift2
{
  height: 200px;
  width: 60%;
   padding-top: 30px;
   padding-left: 10px;
}
.last 
{
  height: auto;
  background: black;
}
.last .es
{
  height: 500px;
  width: 25%;
  background: gray;
  padding-top: 50px;
  color: white;
}
.es .es1
{
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.es .es2
{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.es .es3
{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.last .our
{
  height: 500px;
  width: 25%;
  background: lightgreen;
  padding-top: 50px;
  color: white;
}
.our .our1
{
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.our .our2 ul
{
  margin: 0;
  padding : 0;
 }
 .our .our2 ul li
 {
  list-style: none;
  padding-bottom: 10px;
 }
 .our .our2 ul li a
{
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  color: white;
}
.last .si
{
  height: 500px;
  width: 25%;
  background: gray;
  padding-top: 50px;
  color: white;
}
.si .si1
{
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.si .si2
{ 
  height: 70px;
  width: 80%;
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
  background: #565656;
  padding-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.si2 .fa
{
  height: 70px;
  width: 20%;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 7px;
}
.si2 .nu
  {
  height: 70px;
  width: 60%;
}
.nu .nu1
{
  height: 35px;
  width: 100%;
  font-size: 20px;
}
.nu .nu2
{
  height: 35px;
  width: 100%;
font-size: 18px;
color: black;
}

.si .si3
{ 
   height: 70px;
  width: 80%;
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
  background: #565656;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.si3 .gmlogo
{
  height: 70px;
  width: 20%;
  font-size: 35px;
  padding-left: 15px;
  padding-top: 7px;
}
.si3 .gm
  {
  height: 70px;
  width: 80%;
 
}
.gm .gm1
{
  height: 35px;
  width: 80%;
  font-size: 20px;
}
.gm .gm2
{
  height: 35px;
  width: 80%;
  color: black;
   font-size: 15px;
}
.si .si4
{ 
   height: 70px;
  width: 80%;
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
  background: #565656;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.si4 .lologo
{
  height: 70px;
  width: 20%;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 7px;
}
.si4 .loc
  {
  height: 70px;
  width: 80%;
  
  
}
.loc .loc1
{
  height: 35px;
  width: 80%;
   font-size: 20px;
}
.loc .loc2
{
  height: 35px;
  width: 80%;
  color: black;
   font-size: 12px;
}
.last .fp
{
  height: 500px;
  width: 25%;
  background:lightseagreen;
}
